MONGODB_NAME="dbName"
MONGODB_HOSTS=["localhost"]
MONGODB_PORTS=[27017]
MONGODB_USER="user"
MONGODB_PASSWORD="password"
MONGODB_SLAVEMODE=false

SERVER_HOST="localhost"
SERVER_PORT=8081

DICOM_STORE_ROOTPATH='C:/'
DICOMWEB_HOST="localhost"
DICOMWEB_PORT=8081
DICOMWEB_API="dicom-web"
